aside.menu-area {
    background-color: var(--bg-dark);
    box-shadow: var(--shadow-menu);
}

.menu a {
    display: block;
    text-decoration: none;
    color: #FFF;
    padding: 15px;
    font-weight: 300;
}

.menu a:hover {
    background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
}

@media (max-width: 768px) {
    .menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }

    .menu a {
        display: inline-block;
        padding: 10px;
        margin: 0px;
    }

}